:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(192, 172, 172, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: white;
  font-family: "Roboto";
  color: #2e2d2d;
}

h1 {
  font-size: 30px;
  margin: 10px;
  text-decoration: underline;
}

h2 {
  font-size: 24px;
  margin: 30px;
}

p, li {
  font-size: 16px;
}

li {
  text-decoration: none;
}

a {
  font-family: "Roboto";
  text-decoration: none;
  color: #2e2d2d;
}

a:hover {
  font-weight: bold;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label, input {
  font-family: "Roboto";
  font-size: 16px;
  color: #2e2d2d;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 16px;
  background-color: #ffb72a;
  cursor: pointer;
  transition: border-color 0.25s;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input[type="checkbox"]:checked {
  accent-color: #ffb72a; 
}

input[type="date"] {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 16px;
  background-color: #ffb72a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input[type="date"]:hover {
  background-color: lighten(#ffb72a, 20%);
  transition: all 1s;
}

